<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Payment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Payment.Properties.Settings>
            <setting name="BEARER_AUTHORIZATION_REALM" serializeAs="String">
                <value>Bearer</value>
            </setting>
            <setting name="LENDING_SERVICE_URL" serializeAs="String">
                <value>https://sandbox.interswitchng.com/lending-service/api/v1/</value>
            </setting>
            <setting name="LENDING_SERVICE_URLV2" serializeAs="String">
                <value>https://sandbox.interswitchng.com/lending-service/api/v2/</value>
            </setting>
        </Payment.Properties.Settings>
    </applicationSettings>
</configuration>